<div class="menu-item">
    <div class="flex flex-row items-center justify-center">

        <div class="menu-section flex flex-row items-center gap-2 p-3">
            <div>File</div>
            <a pRipple class="flex items-center p-menubar-item-link" pTooltip="Import JT files or import PNG images" tooltipPosition="bottom">
                <span [classList]="'pi pi-folder-open'"></span>
            </a>
            <a pRipple class="flex items-center p-menubar-item-link" pTooltip="Save as JT file or export as PNG" tooltipPosition="bottom">
                <span [classList]="'pi pi-save'"></span>
            </a>
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select
                    id="format_select"
                    [options]="formats"
                    [(ngModel)]="selectedFormat"
                    optionLabel="name"
                    class="w-full md:w-56"
                    (onChange)="selectChange('format', $event)"
                />
                <label for="format_select">Format</label>
            </p-floatlabel>
            <a
                pRipple
                class="flex items-center p-menubar-item-link"
                pTooltip="Toggle display of RBG array data for debugging"
                tooltipPosition="bottom"
                (click)="toggleDebug()"
            >
                <span [classList]="'pi pi-prime'"></span>
            </a>
        </div>

        <div class="menu-section flex flex-row items-center gap-2 p-3">
            <div>Canvas</div>
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select
                    id="size_select"
                    [options]="size"
                    [(ngModel)]="selectedSize"
                    optionLabel="name"
                    class="w-full md:w-56"
                    (onChange)="selectChange('size', $event)"
                />
                <label for="size_select">Size</label>
            </p-floatlabel>
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select
                    id="mode_select"
                    [options]="mode"
                    [(ngModel)]="selectedMode"
                    optionLabel="name"
                    class="w-full md:w-56"
                    (onChange)="selectChange('mode', $event)"
                />
                <label for="mode_select">Mode</label>
            </p-floatlabel>
        </div>

        <div class="menu-section flex flex-row items-center gap-2 p-3">
            <div>Format</div>
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select
                    id="color_format_select"
                    [options]="colorFormat"
                    [(ngModel)]="selectedColorFormat"
                    optionLabel="name"
                    class="w-full md:w-56"
                    (onChange)="selectChange('color_format', $event)"
                />
                <label for="color_format_select">Color format</label>
            </p-floatlabel>
        </div>

    </div>
</div>