/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";
// @custom-variant dark (&:where(.my-app-dark, .my-app-dark *));     //dark mode configuration

*, html {
    color-scheme: light;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.p-colorpicker {
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;

    input.p-disabled {
        opacity: 1;
    }
}

.p-button-transparent {
    button {
        background: transparent;
        border: 1px solid transparent;
        color: #000000;
    }
}